.banner {
    height: calc(100vh - 150px);
    background-image: url(../img/Looper\ BG.png);
    background-repeat: no-repeat;
    background-position: right;
}

.banner__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner__titulo {
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
}

.banner__titulo em {
    color: var(--blue);
    font-size: 2em;
    margin: .5em 0;
    display: inline-block;
}

.banner__buttons {
    margin-top: 3em;
    display: flex;
}

.btn-padrao {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 50px;

    color: var(--light);

    text-decoration: none;
    text-align: center;

    
    border: 2px solid transparent;
    border-radius: 10px; /* Não funciona por causa do border-image :\ */
}

.btn-padrao i {
    padding-right: 1.3em;
}

.button-linkedin {
    border-image: var(--gradient-purple);
}

.button-github {
    margin-left: 1em;
    border-image: var(--gradiente-pink);
}

@media screen and (max-width: 900px) {

    .banner__titulo {
        font-size: 1.4em;
    }

    .banner__titulo em {
        font-size: 1.8em;   
    }
    
    .button-linkedin, .button-github {
        background-color: var(--dark-200);
    }
}


@media screen and (max-width: 450px) {
    .banner__titulo {
        font-size: 1em;
        line-height: 22px;
    }
}