@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    /* Cores e Gradientes Principais */
    --blue: #00D2DF;
    --gradiente-pink: linear-gradient(to right, #D24074, #6518B4) 1;
    --gradient-purple: linear-gradient(to right, #9358F7, #10D7E2) 1;

    /* Cores Neutras */
    --dark: #121212;
    --dark-200: #151515;
    --gray-light: #C4C4C4;
    --light: #FFFFFF;
    
    /* Tipografia Fonte  https://fonts.google.com/specimen/Inter */
    --inter: 'Inter', sans-serif; 
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--inter);
    background-color: var(--dark);
    color: var(--gray-light);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

